*{
    margin:0; /*Espaçamento externo dos elementos */
    padding: 0;/*Espaçamento interno dos elementos */
    box-sizing: border-box;/*trabalhar melhor com tamanho de larguras non nosso projeto */
}

h1{
    
    font-size: 20px;
    /*background-color: aqua;*/
    padding: 15px;
    
}

.titulo{
    margin:0;
    font-size: 12px;
    font-size: 20px;
    letter-spacing: 0.5px;
    text-transform:uppercase;
    text-align: center;
    border-bottom: 4px solid #47f4ff;
    width: 50%; /* Traço tamamho 50%*/
}

ul{
    list-style: none; /* Tira as bolinhas das listas */
}

